body {
    background: rgba(250, 255, 250, 1);
}

#ubc {
    margin-top: 0;
    color: #008f00;
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 40pt;
    text-shadow: 3px 2px #a5a5a5;
    font-weight: bold;
}

#ubc-subtitle {
    margin-top: 0;
    color: #000000;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 25pt;
    text-shadow: 1px 1px #a5a5a5;
    font-style: italic;
}

#header {
    height: 220px;
}

div#tabs {
    height: 50pt;
    background-color: rgba(230, 255, 230, 1);
}

a.tab {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: darkgreen;
    margin-right: 20px;
}

div#content-area {
    float: left;
    width: 70%;
}

#products {
    float: left;
    width: 97%;
}

div.product-category {
    margin-top: 10px;
}

div.product-category-scroll {
    margin-top: 10px;
    margin-left: 20px;
    height: 300px;
    overflow: auto;
    border: 5px double black;
    background: rgba(255, 255, 255, 1)
}

p.product-category {
    font-family: Arial, sans-serif;
    font-size: 20pt;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 2px;
}

div.product {
    margin: 5px;
}

p.product-name {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
}

div.product-description {
    margin-top: 2px;
    margin-left: 20px;
    margin-bottom: 1px;
    font-size: 12pt;
    font-family: "Times New Roman", serif
}

#sidebar {
    float: right;
    width: 28%;
    margin-top: 10px;
}

.sidebar-title {
    font-family: Arial, sans-serif;
    font-size: 20pt;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 2px;
}

div.event {
    margin-bottom: 1px;
    margin-top: 5px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 1)
}

p.event {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
}

div.event-description {
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 1px;
    font-size: 12pt;
    font-family: "Times New Roman", serif
}

div.book {
    margin-bottom: 20px;
    margin-top: 5px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 1);
}

p.book-title {
    font-family: "Times New Roman", serif;
    font-size: 18pt;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

p.book-author {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

p.book-publication {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

div.book-description {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin: 0 20px;

}

div.article {
    margin-bottom: 1px;
    margin-top: 5px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 1)
}

a.article-title {
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

p.article-date {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin: 0 0;
}

div.form{
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
    width: fit-content;
    border: 2px solid black;
    background: rgba(255, 255, 255, 1);
    font-size: 14pt;
    font-weight: bold;
}

h1.form {
    margin-top: 0;
    font-size: 20pt;
}

input.form {
    margin-top: 5px;
    font-size: 14pt;

}

input.submit {
    border: 2px solid black;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10px;
}

div#message {
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border: 2px solid black;
    background: rgba(255, 240, 240, 1);
    font-size: 18pt;
    font-weight: bold;
}

div.page-content {
    font-size: 14pt;
    margin-left: 50px;
}
